html
    head
        title Login Page
        meta(charset='utf-8')
        link(rel='stylesheet', href='/vendor/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
    body
        block content
        block scripts